<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" name="loginForm" novalidate>
            <h2>Please Sign In </h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="text" name="user_name" id="user_name" class="form-control input-lg" placeholder="User Name" tabindex="3"
                               ng-pattern="/^[a-z0-9_-]{3,16}$/" ng-model="user.UserName" required="">
                        <div ng-show="isUserNameInvalid()" class="alert alert-danger fix-alert-placement" role="alert">
                            User Name is empty or contains wrong characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5"
                               ng-model="user.Password" required="" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}$/">
                        <div ng-show="isPasswordInvalid()" class="alert alert-danger fix-alert-placement" role="alert">Password must be at least 6 characters, no more than 15 characters, and must include at least one upper case letter, one lower case letter, and one numeric digit</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3">
                    <button-checkbox text="&nbsp;Remember Me" color="info" tabindex="7" state="rememberMe"></button-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <hr class="colorgraph">
                </div>
            </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a href="#/login" class="btn btn-primary btn-block btn-lg"
                               tabindex="9" ng-click="signIn()">
                                Sign In
                                <span class="glyphicon glyphicon-refresh pull-right" ng-class="{ 'spinning': submitInProgress }" ng-show="submitInProgress"></span>
                            </a>
                        </div>
                    </div>
        </form>
    </div>
</div>